// defining theme for app

// Colors
$off-black: #4E4B5C;
$off-white: #BDADEA;
$dark-blue: #333745;
$bright-purple: #8357C5;
$blue: #3C4251; 
$light-blue: #464B5E;

// Spacing
$m-size-sm: 1.6rem; 
$m-size-md: 3.2rem;
$m-size-lg: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;