// defining theme for app

// Colors
$navy: #2D3142;
$light-pink: #FFE5D4;
$dark-blue: #4F5D75;
$pink: #EFBAB3;
$blue: #7C92B7; 
$light-blue: #8AA2CC;

// Spacing
$m-size-sm: 1.6rem; 
$m-size-md: 3.2rem;
$m-size-lg: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;